[submodule "template"]
	path = submodules/template
	url = https://github.com/blakeNaccarato/copier-python.git
[submodule "stubs"]
	path = submodules/stubs
	url = https://github.com/softboiler/python-type-stubs
[submodule "boilercine"]
	path = submodules/boilercine
	url = https://github.com/softboiler/boilercine.git
[submodule "boilercore"]
	path = submodules/boilercore
	url = https://github.com/softboiler/boilercore.git
[submodule "cachier"]
	path = submodules/cachier
	url = https://github.com/blakeNaccarato/cachier.git
