[submodule "stubs"]
	path = typings
	url = https://github.com/softboiler/python-type-stubs
[submodule "boilercine"]
	path = packages/boilercine
	url = https://github.com/softboiler/boilercine.git
[submodule "boilercore"]
	path = packages/boilercore
	url = https://github.com/softboiler/boilercore.git
[submodule "cachier"]
	path = packages/cachier
	url = https://github.com/blakeNaccarato/cachier.git
[submodule "context_models"]
	path = packages/context_models
	url = https://github.com/softboiler/context_models.git
[submodule "typings"]
	path = typings
	url = https://github.com/softboiler/python-type-stubs.git
