# Binder
boilercv @ git+https://github.com/softboiler/boilercv@2ce0cd37eade2ab50ebe92a4787d2a83a6353e7f
boilercore @ git+https://github.com/softboiler/boilercore@973a0967b0c9922abd47b5f6ec876aac0df6a0c9
--editable docs/
--editable pipeline/
